.article {
    max-width: 800px;
    margin: 0 auto;
    /* Centers the article container horizontally */
    text-align: justify;
    padding-bottom: 5%;
}

h1 {
    max-width: 800px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1.2;
    margin: 50px auto;
    color: #333;
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    display: block;
    text-align: center;
}

h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #555;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

.sub-header {
    max-width: 800px;
    font-family: Georgia, serif;
    margin: 50px;
    line-height: 1.6;
    font-size: 24px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    display: block;
    text-align: center;
}

.text {
    max-width: 800px;
    font-family: Georgia, serif;
    line-height: 1.6;
    font-size: 18px;
    margin: 50px auto;
    padding: 0;
    color: #333;
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    display: block;
    text-align: justify;
}

.image-container {
    max-width: 800px;
    text-align: center;
}

.image {
    display: block;
    margin: 0 auto;
    /* Centers the image horizontally */
    max-width: 100%;
    height: auto;
    /* Maintains the image's aspect ratio while scaling */
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    /* Adds a subtle drop shadow effect */
}